.env
databases/ms-sql-server/data
databases/ms-sql-server/log
databases/ms-sql-server/secrets

volumes/kafka-connect-data 
volumes/kafka-data
connectors-json
databases/postgres-sql/postgres-data
liveScripts.txt
EK/esdata01
EK/kibanadata
scripts.txt
ksql-scripts.txt
script-elastic-search.txt
stream-joining.txt
microservices